@font-face {
    font-family: 'Patrick Hand', cursive; 
    src: url('./fuentes/PatrickHand-Regular.ttf');
}
.ventanaLogin {
    text-align: center;
    background-color: #AED6F1 ;
    width: 350px; /*Establece el ancho del contenedor*/
    /* Centra el contenedor horizontalmente */
    margin-left: auto; 
    margin-right: auto; 
    border: white 10px double;
    border-radius: 20px; /* establece un borde redondeado en las esquinas¨*/
    font-family: 'Patrick Hand', cursive; 
}

.Contimg{
    text-align: center;
    background-color: #D7BDE2 ;
    border-radius: 5px;
    border-bottom: white 5px dotted; /* establace borde inferior, dotted con bolitas*/
}
img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor padre */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
    max-width: 200px; /* Establece un ancho máximo para la imagen */
}
.Login{
    text-align: center;
    background-color: #ABEBC6;
}
/*Color del botón al acercar cursor*/
button:hover {
    background: #D2B4DE ;
    color: white;
}
button{
    background-color: #AED6F1;
    border-radius: 5px;
    border: 2px solid white;
    /*modifica los bordes internos del boton, modifica el borde interno de la derecha e izq*/
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    /*Cambia propiedades del texto*/
    color:#1F618D;
}
input{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; /*borde de abajo*/
    text-align: center;
    border-radius: 10px;
    border:#AED6F1  ;
    font-family: 'Patrick Hand', cursive; 
}
.imagenIcono{
    max-width:  25px;
}
h1,h2,h3,h4,h6,h6{
    font-family: 'Patrick Hand', cursive;
}
a{
    text-decoration: none;
    margin-left: 35px;
    font-family: 'Patrick Hand', cursive;
}
a:hover {
    border-bottom: 3px solid;
    background: white;
  }
.Registro{
    text-align: center;
    background-color: #ffe5f0;
}
.colorazul{
    background-color: #b2dafa;
    text-align: center;
    padding: 10px;
}
.fondoBlanco{
    background-color: white;
}
.colorBlanco{
    background-color: white;
    padding: 5px;
    text-align: center;
}
.ventanaRegistro{
    text-align: center;
    background-color: #AED6F1 ;
    width: 400px; /*Establece el ancho del contenedor*/
    /* Centra el contenedor horizontalmente */
    margin-left: auto; 
    margin-right: auto; 
    border: white 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px; 
}

.tableEliminar {
    width: 100%;
    border-collapse: collapse; /* Sin bordes entre celdas */
}

.tdEliminar {
    padding: 20px;
    border: white 30px solid;
}

/* Estilo para la celda izquierda */
.izquierda {
    background-color: wheat; /* Color de fondo para la izquierda */
}

/* Estilo para la celda derecha */
.derecha {
    background-color: #FFC7C7; /* Color de fondo para la derecha */
}
.imgAncho{
    width: 200px; /* La imagen ocupará el 100% del ancho del contenedor padre */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
    max-width: 400px;
}
.texto1{
    font-size: 4em;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    background-color: #7071E8;
    color: white;
}
.bodyEliminar{
    text-align: center;
    background-color: #7071E8;
}
.respuesta {
    text-align: center;
    background-color: white  ;
    width: 350px; /*Establece el ancho del contenedor*/
    /* Centra el contenedor horizontalmente */
    margin-left: auto; 
    margin-right: auto; 
    border: #ff7c39 10px dotted;
    border-radius: 20px; /* establece un borde redondeado en las esquinas¨*/
    padding: 20px;
}
.Ingreso{
    font-family: cursive;
    text-align: center;
    background-color: white  ;
    width: 350px; /*Establece el ancho del contenedor*/
    /* Centra el contenedor horizontalmente */
    margin-left: auto; 
    margin-right: auto; 
    border: #7f00b2 10px dotted;
    border-radius: 20px; /* establece un borde redondeado en las esquinas¨*/
    padding: 3px;
}
.bodyrespuesta{
    background-color: #ffd792;
}
.bodyRegistros{
background-color: #D7BDE2 ;;
}
table{
    width: 100%;
    text-align: center;
}
.alinearIz{
    text-align: left;
    background-color: #AED6F1;
    border-top: 5px double #7f00b2;
    width: 100%; /*Establece el ancho del contenedor*/
}
input[readonly] {
    background-color:#81c9fa; 
  }

